<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories/news">News</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories/technology">Technology</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories/sports">Sports</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories/business">Business</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories/health">Health</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories/women">Women</a>
</li>